body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

footer {
    
}

.navbar {
    background-color: #7aa2ff;
}

.nav-link {
    color: white;
    font-size: 18px;
    margin-left: 10px;
}

.about-title {
    font-weight: bold;
}

.fas {
    margin-bottom: 20px;
}

.product-description {
    font-size: 18px;
    padding: 0px 15px 0px 15px;
}

.shop-title {
    font-weight: bold;
}

.shop-options {
    margin-top: 20px;
}

.contact-title {
    font-weight: bold;
    margin-bottom: 20px;
}

.contact-icon {
    margin-left: 10px;
}